/* 
 * top navbar {{{
 */
#navbar-sigboviks .navbar-brand {
  background: url('../img/achlogo.png') no-repeat;
  width: 65px;
}
#navbar-sigboviks {
  background-color: #666666;
  border-color: #e7e7e7;
  margin-bottom: 0px;
}
#navbar-sigboviks .navbar-nav > li > a {
  color: #efefef;
}
#navbar-sigboviks .navbar-nav > .active > a, 
#navbar-sigboviks .navbar-nav > li > a:hover, 
#navbar-sigboviks .navbar-nav > li > a:focus {
  background-color: #666666;
  color: #c0c0c0;
}

/* }}}
 * bottom navbar {{{
 */
#navbar-2015 .navbar-brand {
  color: #454545;
  padding-left: 0;
}
#navbar-2015 {
  background-color: rgba(255,255,255,0.7);
  margin-bottom: 0;
}
.navbar-is-locked { /* turned on dynamically */
  padding-bottom: 50px;
}
@media only screen and (max-device-width: 480px) {
  #navbar-2015 {
    display: none !important;
  }
}

/* }}}
 * main body {{{
 */
body {
  font-family: 'DejaVu Sans', Helvetica, Verdana, sans-serif;
  overflow-x: hidden;
}
.section {
  width: 100%;
  height: 500px;
}

/* }}}
 * content - title {{{
 */
#title {
  background-image: url('../img/domo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#title > .text {
  background-color: rgba(255,255,255,0.7);
  color: #333333;
  display: inline-block;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 2px;
}
#title .large {
  font-size: 40px;
}

/* }}}
 * content - venue {{{
 */
#venue {
  background-image: url('../img/gates.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#venue > .text {
  background-color: rgba(255,255,255,0.7);
  color: #333;
  display: inline-block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 2px;
}
#venue .large {
  font-size: 30px;
}

/* }}}
 * content - scope {{{
 */
#scope {
  overflow: hidden;
  font-size: 0;

  /* video fallback */
  background-image: url('../img/cobot-static.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#scope video {
  z-index: -1;
  margin-top: -268px;
}
@media only screen and (max-device-width: 480px) {
  #scope video {
    display: none !important;
  }
}
#scope > .text {
  display: inline-block;
  text-align: center;
  width: 100%;
}
#scope .headertext {
  display: inline-block;
  font-size: 24px;
  color: #333;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.5);
  padding: 5px;
  margin-bottom: 30px;
}
@media only screen and (max-device-width: 480px) {
  #scope .headertext {
    font-size: 18px !important;
    margin-bottom: 5px !important;
  }
}
#scope .implidea {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.5);
  color: #333;
  vertical-align: top;
  width: 230px;
  padding: 15px;
  margin: 5px;
  font-size: 18px;
}
#scope .second {
  margin: 5px 5%;
}
#scope .glyphicon {
  font-size: 40px;
}
@media only screen and (max-device-width: 480px) {
  #scope .glyphicon {
    display: none !important;
  }
}
#scope .large {
  font-size: 1.4em;
}
@media only screen and (max-device-width: 480px) {
  #scope .large {
    font-size: 1.2em !important;
  }
}

/* }}}
 * content - proceedings {{{
 */
#proceedings {
  background-image: url('../img/vending.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#proceedings > .text {
  background-color: rgba(255,255,255,0.8);
  color: #333;
  display: inline-block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 2px;
}
#proceedings .large {
  font-size: 30px;
}

/* }}}
 * content - submission {{{
 */
#submission {
  background-image: url('../img/whiteboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#submission > .text {
  background-color: rgba(255,255,255,0.7);
  color: #333;
  display: inline-block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 2px;
}
#submission .large {
  font-size: 30px;
}

/* }}}
 * content - listserv {{{
 */
#listserv {
  background-image: url('../img/cheetos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#listserv > .text {
  background-color: rgba(255,255,255,0.7);
  color: #333;
  display: inline-block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 2px;
}
#listserv .large {
  font-size: 30px;
}

/* }}}
 * footer {{{
 */
#footer {
  padding: 10px 0;
}
#footer .text {
  color: #666;
}
/* }}} */
