body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* The side navigation menu */
aside {
  margin: 0;
  padding: 0;
  width: 270px;
  background-color: #212121;
  position: relative;
  height: 100%;
  overflow: auto;
}

/* Sidebar element */
aside h1 {
  padding: 0 5%;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 32px;
}

aside dl {
  padding: 0 10%;
  color: #f1f1f1;
  text-decoration: none;
}

aside dt {
  padding: 1px;
  font-size: 18px;
}

aside dd {
  padding: 1px;
  font-size: 14px;
}


aside a:any-link{
  color: #f1f1f1;
}

aside a:hover {
  color:#cc8929;
  border-color:#cc8929;
}




/* Copyright footer */
aside #copyright {
  position: absolute;
  bottom: 0;
  padding: 2%;
  font-size: 12px;
  color: #f1f1f1;
}


main {
  margin-left: 270px;
  padding: 5% 8%;
  color: #222;
  font-size: 18px;
  position: absolute;
  top: 0;

}

main a:any-link {
  text-decoration: none;
  color: #444;
  border-bottom: 2px solid #bbb;
}

main a:hover {
  color:#cc8929;
  border-color:#cc8929;
}

main a:active {
  color:#ffb040;
  border-color#ffb040;
}

@media screen and (max-device-width:480px) {
  body {font-size:70%;}
  main {padding: 1% 2%;}
}
