/*
Big reset. for background, see http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

/* 
End big reset
*/


body {
  font-family: "Georgia",Times New Roman,serif;
  font-size: 13px;
  line-height: 150%;
  background-color: #fff;
  background-position: top center;
  background-repeat: repeat-y;
  margin: 0px;
  padding: 0px;
  margin-left: 0px !important;
  margin-left: 1px;
 }

a img { border: none; }

a, a:visited {
  color: #069;
  text-decoration: none;
}

a:hover {
  color: #d52b1e;
  text-decoration: none;
}

/**************** Header styles ****************/

#header {
    border-bottom: 1px solid #ddd;
    background: #e6e6e6;
    background-image: url(topscroll.png);
    padding: 0 0 0px 0;
    height: 25px;
    width: 980px;
}

#header a {
    text-decoration:none;
}
.hide {
    visibility:hidden;
}

#content {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0px auto;
    width: 980px;
}

/**************** Main Well styles ****************/

#well {    
  width:980px;
  text-align:left;
  background:#ffffff;
  color:#303030;
  margin-top: 30px;
  padding: 0px;
        }  

.bg
 {
   border-right: 1px solid #000;
}


h3 {
  font-family: "Georgia";
  font-size: 15px;
  margin-bottom: 4px;
}

#main {
  width:575px;
  padding: 0px;
  margin: -35px 20px 0px;
  text-align: left;
  }

#main img.author_image {
  padding-left: 10px;
  padding-top: 2px;
  border: none;
}

#main img.blogimage {
  border-bottom: 1px solid black;
  padding: 0px 0px 5px;
}

#main p img {
  border: 1px solid #999;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  max-width: 555px;
  width: expression(this.width > 545 ? 545: true) !important;
}

#main .blogdate {
  color: #d52b1e;
  font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, Geneva, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  padding: 15px 0px 1px;
  margin: 0px;
}

#main p {
  margin: 0px;
  padding-bottom: 10px;
}

font {
  font-family: "Georgia",Times New Roman,serif;
  font-size: 12px;
  color: #000;
}

#main embed {
  padding-bottom: 10px;
  margin-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

#main h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0px;
  padding: 5px 0px 0px;
}

.archive-header {
  text-align: center;
}

#main h3 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}

#main h3 a {
  color: #069;
}

#main h3 a:hover {
  color: #d52b1e;
  text-decoration: none;
}

#main h3.date-header {
  text-align: center;
}

#main h4 {
  font-size: 11px;
  font-weight: bold;
  margin-left: 20px;
}

#main h4 a {
  color: #069;
  text-decoration: none;
}

#main h4 a:hover {
  color: #d52b1e;
  text-decoration: underline;
}

.blockquote, entry-content div.blockquote, entry-content p.blockquote,
blockquote, blockquote.webkit-indent-blockquote {
   background-color: #e9e9e9;
   margin: 0px 20px 8px 15px !important;
   padding: 15px 10px 10px 15px;
}

#main p.content-nav {
  text-align: center;
  padding: 20px 10px 15px 0px;
}

.awardstext {
  color: #069;
}

.footer {
  margin: 0px;
  padding: 0px 0px 30px;
  clear: both;
}

#main p.entry-more-link {
  padding-bottom: 10px;
}

#main p.entry-footer {
  font-family: Helvetica, Arial;
  font-size: 7.5pt;
  font-weight: normal;
  display: inline;
  margin: 0px;
  padding: 0px;
}

#main p.addthis {
  font-family: Helvetica, Arial;
  font-size: 7.5pt;
  font-weight: normal;
  display: inline;
  margin: 0px;
  padding: 0px;
}
        
#main ul{
  font-size: 12px;
  list-style-type: square;
  clear: left;
  float: none;
  line-height: 150%;
  padding: 0px;
}        
        
#main li{
  list-style-type: square;
  clear: left;
  float: none;
  margin-left: 20px;
  padding: 0px;
        }

.pager-inner {
text-align: center;
line-height: 104%;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: 5px 0px 3px;
margin: 0px 130px;
} 

.pager-inner-week {
text-align: center;
padding: 5px 0px;
} 

.pagi-nav {
font-family: Helvetica, Arial;
text-transform: uppercase;
font-weight: bold;
font-size: 11.5px;
vertical-align: top;
color: #004379;
}

.next, .previous {
text-transform: uppercase;
font-family: Helvetica, Arial;
font-weight: bold;
font-size: 9px;
vertical-align: 45%;
}

#main h1 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  margin: 0px;
  padding: 0px 0px 5px;
}

#main h1 a {
  color: #000;
  text-decoration: none;
}

#main h1 a:hover {
  text-decoration: underline;
}

        
/**************** Sidebar styles ****************/

#sidebar {
  font-family: Helvetica, Arial;
  width:336px;
  align: left;
  margin: 0px 0px 0px 15px;
  padding: 0px;
  text-align: left;
  }
#boxad {
  border-bottom: 4px solid #000;
  width:336px;
  padding: 0px 0px 10px;
  margin: 0px;
}

.mod_headers {
  margin-bottom: 3px;
  padding: 20px 0px 3px;
}

.first_header {
  margin-bottom: 3px;
  padding: 4px 0px 3px;
}

.sidebar {
  font-family: Helvetica, Arial;
  font-size: 13px;
  font-weight: normal;
  line-height: 130%;
  margin: 0px;
  padding: 0px 0px 7px 7px;
}

.sidebar a {
  color: #999;
  text-decoration: none;
}

.sidebar a:hover {
  color: #039;
  text-decoration: underline;
}

#sidebar h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin: 0px;
  padding: 5px 0px 0px 0px;
  clear: left;
  }

#sidebar h2 a {
  color: #069;
  text-decoration: none;
  margin: 0px;
     }

#sidebar h2 a:hover {
  color: #d52b1e;
  text-dexoration: none;
  margin: 0px;
     }   

#sidebar h1 {
  font-family: "Georgia";
  font-size: 16px;
  letter-spacing: -1px;
  color: #000;
  padding-left: 5px;
}

.onecol {
  font-family: Helvetica, Arial;
  font-size: 13px;
  font-weight: normal;
  line-height: 130%;
  margin: 0px;
  padding: 0px 0px 7px 0px;
}

.onecol li {
  margin-left: 30px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  }
        
.onecol li a {
  color: #069;
  text-decoration: none;
}

.onecol li a:hover {
  color: #d52b1e;
  text-decoration: none;
}

