
table.packet {
	width:400px;
	text-align: center;
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: none none none none;
	border-collapse: collapse;
	background-color: white;
	
	margin-left: auto;
	margin-right: auto;

}
table.packet th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: rgb(170,170,170);
	background-color: rgb(242,242,242);
}
table.packet td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: rgb(170,170,170);
	background-color: rgb(255,255,255);
}

table.comStack {
	width:100%;
	text-align: center;
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: none none none none;
	border-collapse: collapse;
	background-color: white;
}
table.comStack tr {
		border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

table.comStack th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: rgb(170,170,170);
	background-color: rgb(242,242,242);
}
table.comStack td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: rgb(170,170,170);
	background-color: rgb(255,255,255);
}

tr.separ td
{
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

tr.separ
{
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

table.comStack td.noBorder
{
	background-color: transparent;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
