BODY {
background-color: #fffeee
}

.mailer {
font-size: 8pt
}

.granda {
font-size: 18pt;
}

.white {
white-space: pre
}

.center {
text-align: center;
text-indent: 0em
}

.right {
text-align: right;
text-indent: 0em
}

.mainpara {
text-indent: 2em
}

.noindentpara {
text-indent: 0em
}

P {
text-align: left;
text-indent: 2em
}


/*
     FILE ARCHIVED ON 20:48:59 Mar 11, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:57:54 May 13, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.611
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.063
  esindex: 0.009
  cdx.remote: 21.226
  LoadShardBlock: 85.653 (3)
  PetaboxLoader3.datanode: 72.93 (4)
  PetaboxLoader3.resolve: 150.946 (2)
  load_resource: 152.067
*/