BODY {
background-color: #fffeee
}

.mailer {
font-size: 8pt
}

.granda {
font-size: 18pt;
}

.white {
white-space: pre
}

.center {
text-align: center;
text-indent: 0em
}

.right {
text-align: right;
text-indent: 0em
}

.mainpara {
text-indent: 2em
}

.noindentpara {
text-indent: 0em
}

P {
text-align: left;
text-indent: 2em
}


/*
     FILE ARCHIVED ON 12:31:44 May 14, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:05:02 May 13, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.981
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.056
  esindex: 0.008
  cdx.remote: 10.372
  LoadShardBlock: 149.058 (3)
  PetaboxLoader3.resolve: 105.493 (2)
  PetaboxLoader3.datanode: 135.559 (4)
  load_resource: 122.46
*/