body { background-color: #fef; color: #000; font-family: sans-serif; }

h1, h2, h3 { font-family: "Comic Sans", "Comic Sans MS", cursive; }
h1, h2 { text-align: center; }
h1 { font-size: 48pt; }
h2 { font-size: 24pt; font-style: italic; }
h3 { font-size: 18pt; font-weight: bold; text-transform: uppercase; }

.lights { background-image: url(light.gif); background-repeat: repeat-x; height: 57px; }

td { vertical-align: top; }
#main { width: 75%; }
#sidebar { width: 25%; padding-left: 1em; }
#sidebar ul, #sidebar li { list-style-type: none; margin-left: 0; padding-left: 0; }
#sidebar li { margin-bottom: 0.5em; }

.soon { background: #fd9; }

#footer { font-family: "Action Jackson", "Birbaslo", "Impact", cursive; text-align: center; }
