@font-face {
	font-family: 'SysFont';
	src: url('SYSFONT.WOF') format('woff');
}
html, body, p, h1, h2, h3, h4, h5, h6, ul, li, section, footer, span {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
body {
	font-family: 'SysFont', sans-serif;
	color:#fff;
	background:#ff8822;
	background-image:url("BACK.PNG");
	background-size:500px;
	image-rendering:pixelated;
}
main {
	margin-left:50px;
	margin-right:50px;
	padding:8px;
}
p {
	margin:0 0 10px 0;
}
h1 {
	margin: 50px 0 10px 0;
	text-align:center;
}
h2 {
	margin: 12px 0 0 12px;
}

:root { --px: 1; }

/* 1x and below */
@media (max-resolution:1.25dppx) {
	:root { --px: calc(1/1); }
	@media (min-width: 1280px) { :root { --px: calc(2/1); } }
}

/* 1.5x */
@media (min-resolution:1.15dppx) and (max-resolution:1.75dppx) {
	:root { --px: calc(1/1.5); }
	@media (min-width: 862px) { :root { --px: calc(2/1.5); } }
	@media (min-width: 1280px) { :root { --px: calc(3/1.5); } }
}

/* 2x and beyond */
@media (min-resolution:1.75dppx) {
	:root { --px: calc(1/2); }
	@media (min-width: 640px) { :root { --px: calc(2/2); } }
	@media (min-width: 960px) { :root { --px: calc(3/2); } }
	@media (min-width: 1280px) { :root { --px: calc(4/2); } }
}

p {
	font-size:16px;
	color:#000;
	text-shadow:
		-1px -1px #fff,
		 1px -1px #fff,
		-1px  1px #fff,
		 1px  1px #fff,
		-2px  0px #fff,
		 2px  0px #fff,
		 0px -2px #fff,
		 0px  2px #fff;
}
h1 {
	font-size:36px;
}
h2 {
	font-size:24px;
	color:#fff;
	text-shadow:
		-1px -1px #000,
		 1px -1px #000,
		-1px  1px #000,
		 1px  1px #000,
		-2px  0px #000,
		 2px  0px #000,
		 0px -2px #000,
		 0px  2px #000;

}

#title { width:calc(var(--px)*500px); }
body { background-size:calc(var(--px)*500px); }
main {
	background-image:url("SHADE.GIF");
	background-size:calc(var(--px)*10px);
}

a {
	color:#55f;
	text-decoration:none;
}
a:hover {
	color:#5ff;
}


table {
	background:#555;
	color:#fff;
	text-shadow:none;
	margin: 0 auto 0 auto;
}
table .no-conf { background:#a00; }
table .yes-conf { background:#0a0; }
table .small { font-size:12px; }

#dates {
	background-image:url("SHADE.GIF");
	background-size:calc(var(--px)*10px);
}

#dates {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding:5px 10px;
}

#dates li {
	color:#fff;
	text-shadow:
		-1px -1px #000,
		 1px -1px #000,
		-1px  1px #000,
		 1px  1px #000,
		-2px  0px #000,
		 2px  0px #000,
		 0px -2px #000,
		 0px  2px #000;

	display:block;
	margin:0 5px;
}
#dates li span {
	color:#ff5;
}

footer {
	font-size:12px;
	color:#000;
	text-shadow:
		-1px -1px #aaa,
		 1px -1px #aaa,
		-1px  1px #aaa,
		 1px  1px #aaa,
		-2px  0px #aaa,
		 2px  0px #aaa,
		 0px -2px #aaa,
		 0px  2px #aaa;

	text-align:center;
	margin:30px 0 5px 0;
	padding:0px 10px;
}

#dates a {
	color:#5ff;
}
#dates a:hover {
	color:#fff;
}
